<!DOCTYPE html>
<html>
  <head>
    <title>Your basket</title>
  </head>

  <body>
    <form method="POST" action="/checkout">
      <h1>Add to your basket</h1>
      <p><label for="item[name]">Item Name:</label>
      <input type="text" id="team[name]" name="team[name]" /></p>
      <br>

      <input type="submit" id ="submit" value="Submit">

    </form>
  </body>
</html>
